body{
    background-image: url("/images/finland.png");
    background-position: top;
    background-size: 100vw;
}

button{
    border-radius: 5px;
}

.loginWindow{
    max-width: 160px;
    margin-left: 20px;
    padding-left: 5px;
    border: 3px solid black;
    border-width: auto;
}

.accountWindow{
    width: 160px;
    height: 50px;
    border: 3px solid black;
}

.searchBar{
    float: left;
    width:200px; 
    position: fixed; 
    background-color: lightgrey; 
    left: 50%; 
    margin-left: -100px; 
    border-radius: 6px;
    padding: 2px;
}

.searchview{
    float: left;
    width:200px; 
    height: 400px;
    position: fixed; 
    background-color: lightgrey; 
    left: 50%; 
    margin-top: 30px;
    margin-left: -100px; 
    border-radius: 6px;
    padding: 2px;
    overflow: scroll;
}

.statusWindow{
    max-width: fit-content;
    margin-left: 20px;
    padding-left: 5px;
    border: 3px solid black;
    border-width: auto;
}